*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #f6f8f9;
}

/*start header*/
header{
    margin-bottom:12px;
    background-color: #ffffff;
}

header>h1{
    display: inline-block;
    font-size: 35px;
    vertical-align: 25%;
}
/*finish header*/


/*start main*/
main{
    width: 1150px;
    margin: 30px auto;
    margin-bottom: 25px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 40px;
}

main>.button{
    border-bottom: solid rgba(128, 128, 128, 0.17) 1px;
    width: 100%;
    padding-bottom: 10px;
}

.task, .section{
    padding: 7px;
    border-radius: 5px;
    color: white;
    font-size: small;
}

.task{
    background-color: #14aaf5;
    border:none;
}

.section{
    background-color:#ffffff ;
    color: rgba(128, 128, 128, 0.43);
    border: rgba(128, 128, 128, 0.43) solid 1px;

}

main>section{
    margin-top: 20px;
}

.tick{
    color: rgb(85, 223, 85);
    border: solid rgb(85, 223, 85) 1px;
    padding: 5px;
    font-size: x-small;
    border-radius: 100%;
    width: 10px;
    height: 10px;
}

.x{
    color: red;
    border: solid red 1px;
    padding: 5px;
    font-size: x-small;
    border-radius: 100%;
    width: 10px;
    height: 10px;
}

.title_section{
    font-size: large;
    display: inline-block;
}

.title_section, .arrow{
    color: #434851;
}

.different_option{
    padding: 10px;
    color: #434851;
}

.label{
    padding:6px 10px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: x-small;
}

.blue{
    background-color: #09a9ed;
}

.orange{
    background-color: #ff9b00;
}

.pink{
    background-color: #ab5de6;
}

.green{
    background-color: #2cc6ab;
}

.green2{
    background-color: #a3d116;
}

.fucsia {
    background-color: #ec4a9d;
}

/*finish main*/




