*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
}

header{
    margin:12px;
}

header>img{
    vertical-align: middle;
}

header>h1{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    vertical-align: middle;
}
main{
    width: 1150px;
    margin: 50px auto;
}

main>button{
    padding: 7px;
    color: aliceblue;
    background-color: rgb(0, 87, 127);
    border:none;
    border-radius: 5px;
}

main>section{
    margin-top: 40px;
}

.title_section{
    font-family: 'Roboto', sans-serif;
    display: inline-block;
}

.different_option{
    padding: 10px;
}

.label{
    padding: 4px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: x-small;
}

.blue{
    background-color: rgb(18, 46, 146);
}

.orange{
    background-color: rgb(209, 103, 33);
}

.pink{
    background-color: palevioletred;
}