*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
}


/*start header*/
header{
    margin:12px;
}

header>h1{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    vertical-align: 25%;
}
/*finish header*/


/*start main*/
main{
    width: 1150px;
    margin: 30px auto;
    margin-bottom: 25px;
}

main>button{
    padding: 7px;
    color: aliceblue;
    background-color: rgb(0, 87, 127);
    border:none;
    border-radius: 5px;
}

main>section{
    margin-top: 20px;
}

.title_section{
    font-family: 'Roboto', sans-serif;
    display: inline-block;
}

.different_option{
    padding: 10px;
}

.label{
    padding: 4px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: x-small;
}

.blue{
    background-color: rgb(18, 46, 146);
}

.orange{
    background-color: rgb(209, 103, 33);
}

.pink{
    background-color: palevioletred;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}
/*finish main*/


/*start footer*/
footer{
    color: rgb(9, 78, 9);
    padding: 10px;
    background-color: rgba(153, 255, 102, 50%);
    font-family: 'Roboto', sans-serif;
    font-style: oblique;
}
/*finish footer*/

